<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing challenge</h1>
      <p class="has-text-centered">
        <span [class]="compare(letter, i)" *ngFor="let letter of randomText.split(''); let i = index">{{ letter }}</span>
      </p>
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Type text above" (input) = "handleChange($event.target.value)">
        </div>
        <div  *ngIf = "success" class="box has-text-centered">
          <h1 class="title">Success</h1>
        </div>
      </div>
    </div>
  </div>
</div>
